#__nav {
  position: fixed;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  padding: 2em;
  background-color: #333;
  margin-right: 20px;
  padding-right: 20px;
  z-index: 2;
}

#__navbtn {
  position: relative;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  color: #03e9f4;
  letter-spacing: 2px;
  overflow: hidden;
}

#__navbtn:hover {
  background: #03e9f4;
  color: #333;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 200px #03e9f4;
}


#__navbtn span {
  position: absolute;
  display: block;
}

#__navbtn span:nth-child(1) {
  top: 0%;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

#__navbtn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

#__navbtn span:nth-child(3) {
  bottom: 0%;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

#__navbtn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

/*------------------------------\
   Modal Styles and Animations
\------------------------------*/

#__contactModal {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #333;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 400px;
  color: whitesmoke;
}

#linkedinIcon {
  color: #03e9f4;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
}

#linkedinIcon:hover {
  color: rgb(113, 0, 185);
}

#__modalInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 120px;
}

#emailIcon {
  color: #03e9f4;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
}

#emailIcon:hover {
  color: rgb(113, 0, 185);
}