#__introSection {
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#__introContainer {
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
  justify-content: space-between;
}

#__dude {
  position: relative;
  height: 60vh;
  padding-left: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  bottom: -.21rem;
}

#__dudeContainer {}

#__introText {
  padding-left: 100px;
  padding-bottom: 0;
}

#__introTexth2 {
  padding-left: 230px;
  padding-top: 0;
  margin-top: 0%;
}